
.login-wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1655C4;
    .login-form{
        border: 1px solid grey;
        border-radius: 9px;
        padding: 70px 40px;
        background-color: #fff;
    }
    .login-form-button{
       width: 100%;
       margin-bottom: 20px;
    }
}